<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ColorPicker</title>
</head>
<body>

        
    <p> enter any number between 1 to 255</p>
    <form action='/colorPicker' method='post' >
        Red:<input type="text" name="red" >
        <br>
        Green:<input type="text" name="green" >
        <br>
        Blue:<input type="text" name="blue">
        <br>
        <input type="submit" value="Submit">
      </form> 
      
</body>
</html>